.animal-form-container {
    display: flex;
    background: var(--primary-background-gradient);
    text-align: center;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.animal-form {
    border: solid var(--white-border) 1px;
    box-shadow: 0px 20px 10px var(--primary-red-shadow);
    padding: 30px 20px;
    background-color: var(--primary-background-color1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
}

.animal-form-structure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animalNameInput {
    border: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    outline: 2px solid var(--default-border); 
    margin-bottom: 5px;
    background-color: var(--primary-background-color1);
}

.animalNameInput::placeholder {
    color: var(--brown-font-color);
    font-size: 1rem;
    font-weight: 800;
}

.animalNameInput:focus {
    outline: solid 2px var(--focus-border);
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
}

.range{
    height: 80px;
    width: 380px;
    background-color: #FBFBFB;
    border-radius: 15px;
    padding: 0 65px 0 45px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
}

.age-range {
  height: 80px;
  width: 380px;
  background-color: #FBFBFB;
  border-radius: 15px;
  padding: 0 65px 0 45px;
  box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-input {
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background: var(--primary-background-color2);
  width: 100vh;
  border: none;
  outline: 2px solid var(--default-border); 
}

.date-input:focus {
  outline: solid 2px var(--focus-border);
}

.date-input:hover {
  cursor: pointer;
}

.sliderValue {
    position: relative;
    width: 100%;
    margin-top: 5px;
    color: var(--brown-font-color);
    font-weight: 700;
}

  .field{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    position: relative;
  }

  .field .value{
    position: absolute;
    font-size: 18px;
    color: var(--brown-font-color);
    font-weight: 700;
  }

  .field .value.left{
    left: -22px;
  }

  .field .value.right{
    right: -43px;
  }

  .range input{
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: var(--primary-gradient-button);
    border-radius: 5px;
    outline: none;
    border: none;
    z-index: 2222;
  }

  .range input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--default-border);
    border: 1px solid var(--focus-border);
    cursor: pointer;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
  }

  .dropdownRange {
    height: 80px;
    width: 380px;
    background-color: var(--primary-background-color2);
    border-radius: 15px;
    padding: 0 65px 0 45px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .animalForm-select {
    width: 100%;
    height: 50%;
    font-weight: 700;
    color: var(--brown-font-color);
    outline: 2px var(--default-border) solid;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    background-color: var(--primary-background-color2);
  }

  .animalForm-select:hover {
    cursor: pointer;
  }

  option {
    font-size: 15px;
  }

  .animalImageBlock{
    transition: 200ms;
    height: 120px;
    background-color: var(--primary-background-color2);
    border-radius: 15px;
    padding: 0 20px 0 20px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .animalImageBlock:hover {
    cursor: pointer;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.155);
  }

  .modal {
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-color: var(--primary-background-color2);
    z-index: 9999;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .modal-content {
    opacity: 1;
    background-color: var(--primary-background-color2);
    height: 200px;
    width: 300px;
    border: 2px solid var(--default-border);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.501);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .modalParagraph {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .closeModalButton {
    font-size: 1rem;
    font-weight: 700;
    padding: 8px 30px;
    border-radius: 20px;
    color: var(--primary-background-color2);
    background: var(--primary-gradient-button);
    border: 2px solid var(--default-border);
    margin: 20px 20px 0 20px;
  }

  .closeModalButton:hover, .add-button:hover {
    transition: 125ms ease-out;
    cursor: pointer;
    border: 2px solid var(--hover-border);
    box-shadow: 0px 0px 10px var(--primary-red-shadow);
  }

  .blur {
    filter: blur(15px);
  }

  .add-button{
    font-size: 1rem;
    font-weight: 800;
    padding: 8px 30px;
    border-radius: 30px;
    color: var(--brown-font-color);
    background-color: var(--primary-background-color2);
    border: 2px solid var(--default-border);
    margin-top: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  }

  .profilePhotoInput {
    display: none;
  }

  .profilePhoto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #000000be;
    object-fit: cover;
    object-position: center;
  }
  
.error {
  border: 2px solid var(--error-font-color);
  transition: 300ms ease-in-out;
}
