@import './variables.css';

.auth-form-container {
    display: flex;
    background: var(--primary-background-gradient);
    text-align: center;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.registration {
    border: solid var(--white-border) 1px;
    box-shadow: 0px 20px 10px var(--primary-red-shadow);
    padding: 30px 20px;
    background-color: var(--primary-background-color1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    color: var(--brown-font-color);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch-button {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 800;
    padding: 8px 30px;
    border-radius: 30px;
    color: var(--white-font-color);
    background: var(--primary-gradient-button);
    border: 2px solid var(--default-border);
}

hr {
    border-top: solid var(--default-border) 2px;
    width: 70%;
}

.authInput {
    border: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    outline: 2px solid var(--default-border); 
    margin-bottom: 5px;
    background-color: var(--primary-background-color1);;
}

.authInput::placeholder {
    color: var(--brown-font-color);
    font-size: 1rem;
    font-weight: 800;
}

label {
    margin-bottom: 6px;
    margin-top: 10px;
    font-size: 1.5rem;
    color: var(--brown-font-color);
    font-weight: 800;
}

.log-button {
    font-size: 1rem;
    font-weight: 800;
    padding: 8px 30px;
    border-radius: 30px;
    color: var(--brown-font-color);
    background-color: var(--primary-background-color1);
    border: 2px solid var(--default-border);
    margin-bottom: 10px;
    margin-top: 20px;
}

.switch-button:hover, .log-button:hover {
    transition: 125ms ease-out;
    cursor: pointer;
    border: 2px solid var(--hover-border);
    box-shadow: 0px 0px 10px var(--primary-red-shadow);
}

.authInput:focus {
    outline: solid 2px var(--focus-border);
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
}

.error1, .error2, .error3, .error4 {
    color: var(--error-font-color);
    font-size: 12px;
    display: none;
}

input:invalid[focused="true"] + span {
    display: block;
}

.errorAuthRegister, .errorAuthRegister2, .errorAuthLogin, .errorAuthLogin2 {
    color: var(--error-font-color);
    font-size: 12px;
    display: none;
}

.show {
    display: block;
}

.forgotPassword {
    margin-top: 10px;
    font-size: 12px;
    opacity: 0.85;
    transition: 200ms;
    color: var(--brown-font-color);
}

.forgotPassword:hover {
    cursor: pointer;
    opacity: 1;
}
