.auth-form-container {
    display: flex;
    background: linear-gradient(to bottom, #FFA500, #FF4500);
    text-align: center;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.registration {
    border: solid #FDFDFD 1px;
    box-shadow: 0px 20px 10px #DD2C00;
    padding: 30px 20px;
    background-color: #FFF3E0;
    border-radius: 30px;
}

.header {
    color: #4E2F2F;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch-button {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 800;
    padding: 8px 30px;
    border-radius: 30px;
    color: #FBFBFB;
    background: linear-gradient(to bottom, orange, #FF6D00);
    border: 2px solid #E65100;
}

hr {
    border-top: solid #E65100 2px;
    width: 70%;
}

input {
    border: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    outline: 2px solid #E65100; 
    margin-bottom: 5px;
    background-color: #FFF3E0;
}

::placeholder {
    color:#4E2F2F;
    font-size: 1rem;
    font-weight: 800;
}

label {
    margin-bottom: 6px;
    margin-top: 10px;
    font-size: 1.5rem;
    color:#4E2F2F;
    font-weight: 800;
}

.log-button {
    font-size: 1rem;
    font-weight: 800;
    padding: 8px 30px;
    border-radius: 30px;
    color:#4E2F2F;
    background-color: #FFF3E0;
    border: 2px solid #E65100;
    margin-bottom: 10px;
    margin-top: 20px;
}

.switch-button:hover, .log-button:hover {
    transition: 125ms ease-out;
    cursor: pointer;
    border: 2px solid #DD2C00;
    box-shadow: 0px 0px 10px #DD2C00;
}

input:focus {
    background-color: #FFF3EF;
    outline: solid 2px #DD2C00;
}

.error1, .error2, .error3, .error4 {
    color: red;
    font-size: 12px;
    display: none
}

input:invalid[focused="true"] + span {
    display: block;
}
